<div style="width: 80%;">
   <div style="text-align:center">
     <%= image_tag "https://media-exp1.licdn.com/dms/image/C561BAQHBlCDiJboWqQ/company-background_10000/0/1646825341272?e=1669392000&v=beta&t=4gFMbvHfxbZ1fkEy-Coy70Of0tc1UyHwVlf1Woyv9yY" , :style => "width: 100px; height: auto"%>
  </div>
   <div style="width: 100%; text-align:center; color:#000000; font-family:Trebuchet MS, sans-serif;">
    <h2>Welcome To OIVAN </h2>
  </div>
  <div style="width: 100%; text-align:center;">
    <button style="padding: 6px;font-family:Trebuchet MS, sans-serif; font-size: 14px; background: #139137; border: unset; border-radius:6px; margin-top:8px; cursor:pointer;">
      <%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token), :style => "text-decoration: none; color: #fff !important;" %>
    </button>
  </div>
</div>